.tree {
    list-style-type: none;

}

.tree li a {
    color: #222;
    text-decoration: none;
    font-size: 10px;
}

.tree ul {
    padding-left: 25px;
}

ul.tree, .tree li {
    padding-left: 0px;
    padding-top: 5px;
}

ul.tree, .tree