
div.menu a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 350px;
}
li{
    list-style: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
p::after{
    content: '';
    width: 700px;
    height: 1px;
    background-color: black;
    display: block;
    margin: auto;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
div.texto{
    display: block;
    width: 700px;
}
.menu, .texto{
    float: left;
}